# Helix
helix/.config/helix/runtime/

# Neovim
nvim/.config/nvim/plugin/

# Zsh
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompdump.zwc
zsh/.config/zsh/.zcompcache/
zsh/.config/zsh/.zsh_sessions/
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_plugins.zsh
zsh/.config/zsh/zsh_platform.sh

# Fish
fish/.config/fish/conf.d/*
fish/.config/fish/functions/*
fish/.config/fish/completions/*
